<!-- Descripción -->
<p class="text-sm text-gray-500">
  Complete la información requerida a continuación para crear un nuevo rol.
</p>
<!-- Formulario -->
<form
  nz-form
  nzLayout="vertical"
  [formGroup]="formGroup"
  (ngSubmit)="onUpdateRol()"
>
  <!-- Nombre del Rol -->
  <nz-form-item>
    <nz-form-label nzRequired nzFor="name">Nombre del Rol</nz-form-label>
    <nz-form-control nzErrorTip="El nombre del rol es obligatorio">
      <input
        nz-input
        id="name"
        formControlName="name"
        placeholder="Ingrese el nombre del rol"
      />
    </nz-form-control>
  </nz-form-item>

  <!-- Lista de Permisos -->
  <nz-form-item>
    <nz-form-label>
      <div class="flex items-center justify-between w-full">
        <div class="flex items-center">
          <span
            nz-icon
            nzType="safety-certificate"
            nzTheme="outline"
            class="mr-2"
          ></span>
          <span>Permisos</span>
        </div>
        <span class="text-xs text-gray-500"
          >Seleccione los permisos para este rol</span
        >
      </div>
    </nz-form-label>
    <nz-form-control>
      <div class="rounded overflow-auto max-h-80">
        @for (modulo of permisosModulos; track modulo.id) {
        <nz-collapse nzGhost>
          <nz-collapse-panel
            [nzHeader]="modulo.name"
            [nzActive]="true"
            class="mb-1 bg-white"
          >
            <div class="p-2">
              <div nz-row [nzGutter]="[16, 8]">
                @for (permiso of modulo.permisos; track permiso.id) {
                <div nz-col [nzSpan]="12">
                  <label
                    nz-checkbox
                    [nzValue]="permiso.id"
                    [nzChecked]="isPermissionSelected(permiso.id)"
                    (nzCheckedChange)="onPermissionChange(permiso.id, $event)"
                  >
                    {{ permiso.name }}
                  </label>
                </div>
                }
              </div>
            </div>
          </nz-collapse-panel>
        </nz-collapse>
        }
      </div>
    </nz-form-control>
  </nz-form-item>

  <!-- Botones de Acción -->
  <div class="flex justify-end gap-2 mt-4 pt-4">
    <button nz-button class="mr-3">Cancelar</button>
    <button
      nz-button
      nzType="primary"
      type="submit"
      [disabled]="formGroup.invalid"
    >
      <nz-icon nzType="save" nzTheme="outline" class="mr-2"></nz-icon>
      Crear Rol
    </button>
  </div>
</form>
